   <div class="relative mt-12 mx-auto w-7xl rounded-lg bg-white [box-shadow:0_40px_0_0_#CC7996,0_15px_0_0_#CC7996] border-4 border-rose-800">
      <div class="p-8">
        <h3 class="text-center font-bold text-2xl text-rose-800">
          Featured Speakers
        </h3>
        <div class="flex flex-wrap mt-8 pb-8 md:flex-row flex-col">
          <% speakers.each do |speaker| %>
            <%= render "featured_speaker", speaker: %>
          <% end %>
        </div>
      </div>
    </div>
