  <div class="flex gap-4 flex-wrap">
    <div class="md:w-2/5 w-full overflow-auto relative mt-12 mx-auto rounded-lg bg-white [box-shadow:0_40px_0_0_#0369a1,0_15px_0_0_#0369a1] border-4 border-sky-800">
      <img class="img-fluid w-full" src="https://images.unsplash.com/photo-1569288063643-5d29ad64df09?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
      <div class="p-8 text-left">
        <h3 class="text-center font-bold text-2xl text-sky-800 mb-4">
          Singapore
        </h3>
        <p>
          At the crossroads of culture and technology, Singapore is a modern city with lush green gardens, incredible array of culinary delights from hawker street food to fine dining, and is home to some of the best talent in Asia. With its diverse landmarks and thriving tech scene, Singapore is the perfect backdrop for a Ruby conference in Asia.
        </p>

        <br>
        <a class="text-rose-800 decoration-dotted underline underline-offset-8" href="https://www.visitsingapore.com/en/">
          🇸🇬 Discover Singapore
        </a>
      </div>
    </div>

    <div class="md:w-2/5 w-full overflow-auto relative mt-12 mx-auto rounded-lg bg-white [box-shadow:0_40px_0_0_#0369a1,0_15px_0_0_#0369a1] border-4 border-sky-800">
      <img class="img-fluid w-full" src="https://static1.straitstimes.com.sg/s3fs-public/styles/large30x20/public/articles/2015/10/28/artist_impression.jpg?VersionId=UUYjxnOada43JfNWMYAXphmPlI7UdGlw">
      <div class="p-8 text-left">
        <h3 class="text-center font-bold text-2xl text-sky-800 mb-4">
          Conference Venue
        </h3>
        <p>
          The SingPost Centre, Level 5 Auditorium, stands at the heart of Singapore, with superb facilities for a smooth conference experience. It is conveniently located within a 5-minute walk from Paya Lebar MRT station and well connected via the East-West line and the Circle line.
        </p>

        <br>
        <a class="text-rose-800 decoration-dotted underline underline-offset-8" href="https://www.google.com/maps/dir//SingPost+Auditorium,+10+Eunos+Rd+8,+%2305-30,+SingPost+Centre,+408600/data=!4m7!4m6!1m1!4e2!1m2!1m1!1s0x31da190058e45f7b:0x9e8e0ec8d5dab5f!3e0?sa=X&ved=1t:3747&ictx=111">
          <i class="fa-regular fa-map"></i> Getting Here
        </a>
      </div>
    </div>
</div>

<div class="mt-24">
  <strong class="text-sky-800 text-xl">Planning accomodations?</strong> <br>
  <p>There are hundreds of hotels to choose from, and here are some of our recommendations:</p>

  <div class="flex gap-4 flex-wrap justify-center my-8">
    <div class="bg-white p-4 rounded-lg w-full md:w-1/4 flex flex-col justify-between">
      <p>
        <strong>Hotel Indigo Singapore Katong</strong><br><br>
        In a residential area near the beach with colorful shophouses and traditional food
      </p>
      <a target="_blank" class="text-center decoration-dotted underline underline-offset-8 mt-8" href="https://www.ihg.com/hotelindigo/hotels/gb/en/singapore/sinki/hoteldetail">
        Learn More
      </a>
    </div>

    <div class="bg-white p-4 rounded-lg w-full md:w-1/4 flex flex-col justify-between">
      <p>
        <strong>Pan Pacific Serviced Suites<br> Beach Road</strong><br><br>
        Near the Muslim quarter with walking distance fashion shops and cafes
      </p>
       <a target="_blank" class="text-center decoration-dotted underline underline-offset-8 mt-8" href="https://www.panpacific.com/en/serviced-suites/pp-ss-beach-road/the-serviced-suites.html">
        Learn More
      </a>
    </div>

    <div class="bg-white p-4 rounded-lg w-full md:w-1/4 flex flex-col justify-between">
      <p>
        <strong>Conrad Centennial Singapore</strong><br><br>
        Luxury option with views of some of Singapore’s top landmarks.
      </p>
       <a target="_blank" class="text-center decoration-dotted underline underline-offset-8 mt-8" href="https://www.hilton.com/en/hotels/sincici-conrad-centennial-singapore/">
        Learn More
      </a>
    </div>
  </div>


</div>
